<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	
	<entry key="listCount">
	
		SELECT COUNT(*) COUNT
		FROM TB_PRODUCT
		WHERE STATUS = 'Y'	
	
	</entry>


	<entry key="selectList">
	
		SELECT *
		FROM 	(SELECT ROWNUM RNUM,A.*
		        FROM(SELECT 
		                   PRO_NO
		                  ,SHOP_FILE_NO
		                  ,PRO_NAME
		                  ,PRO_MENUAL
		                  ,PRICE
		        FROM TB_PRODUCT P	        
		        WHERE P.STATUS = 'Y'
		        ORDER BY P.PRO_NO DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	
	</entry>

	
	<entry key="selectProduct">
	
		SELECT PRO_NO
			   ,FILE_NO
			   ,PRO_NAME
			   ,PRO_MENUAL
	      	   ,PRICE
			   ,STATUS
		FROM TB_PRODUCT P
		LEFT JOIN TB_SHOPMEDIAFILE ON (SHOP_FILE_NO=FILE_NO)
		WHERE PRO_NO = ?
		AND P.STATUS = 'Y'
	
	</entry>
	
	
	
	<entry key="selectShopMediaFile">
		
	SELECT *
	FROM TB_SHOPMEDIAFILE
	WHERE FILE_NO = ? 
	
	</entry>

	
	<entry key="selectProductList">
		
	SELECT * 
	FROM TB_PRODUCT
	WHERE PRO_NO = ?
	
	</entry>	
	
	<entry key="increaseCount">
		
		UPDATE TB_PRODUCT
		SET COUNT = COUNT + 1
		WHERE PRO_NO = ?
		AND STATUS = 'Y'
	
	</entry>
	
	<entry key="purchaseProduct">
		
		INSERT 
		INTO TB_MYITEMS (BOARD_NO
						,QUANTITY)
				VALUES(?,?)
		
	

	</entry>	
	


	<entry key="totalCount">
		
		SELECT COUNT(*)
		FROM TB_PRODUCT
		
	

	</entry>
	
	
	<entry key="insertMyItems">
		
	INSERT INTO MY_ITEMS (PRO_NO, PRO_NAME, BUYER_NO, PRO_COUNT)
	VALUES (?, ?, ?, ?)

	</entry>	
	
	
	<entry key="insertShopMediaFiles">
		
	INSERT INTO TB_SHOPMEDIAFILE (FILE_NO,FILE_NAME,FILE_PATH)
	VALUES (?,?,?)

	</entry>
	
	<entry key="insertProduct">
		INSERT INTO TB_PRODUCT(PRO_NO,
		                       PRO_NAME,
		                       PRO_MENUAL,
		                       PRICE)
		VALUES(?,?,?,?)
	</entry>
	
	<entry key="insertShopMedia">
		INSERT INTO TB_SHOPMEDIAFILE VALUES(?,?,?)
	</entry>
	
	<entry key="selectFileNo">
		SELECT  SEQ_SFNO.NEXTVAL FILE_NO
		FROM    DUAL
	</entry>
	
	<entry key="updateProduct">
		UPDATE  TB_PRODUCT
		SET     SHOP_FILE_NO = ?
		WHERE   PRO_NO = ?
	</entry>
	
	<entry key="selectProNo">
		SELECT  SEQ_PRONO.NEXTVAL PRO_NO
		FROM    DUAL	
	</entry>
	
	<entry key="selectMediaInfo">
		SELECT  FILE_NAME,
		        FILE_PATH
		FROM    TB_PRODUCT
		LEFT JOIN    TB_SHOPMEDIAFILE ON(SHOP_FILE_NO = FILE_NO)
		WHERE   PRO_NO = ?
		AND		STATUS = 'Y'
	</entry>
	
	<entry key="selectUserPoint">
		SELECT	POINT
		FROM	TB_USERINFO
		WHERE	USER_NO = ?
		AND		STATUS = 'Y'
	</entry>
	
	<entry key="updateUserPoint">
		UPDATE	TB_USERINFO
		SET		POINT = POINT - ?
		WHERE	USER_NO = ?
		AND		STATUS = 'Y'
	</entry>
	
	<entry key="insertMyItemsList">
		INSERT INTO TB_MYITEMS VALUES(?,?)
	</entry>
	
	<entry key="selectFileNoFromProduct">
		SELECT  SHOP_FILE_NO FILE_NO
		FROM    TB_PRODUCT
		WHERE   PRO_NO = ?
		AND		STATUS = 'Y'
	</entry>
	
	<entry key="deleteProduct">
		DELETE FROM	TB_PRODUCT
		WHERE	PRO_NO = ?
	</entry>
	
	<entry key="deleteMediaFile">
		DELETE FROM	TB_SHOPMEDIAFILE
		WHERE	FILE_NO = ?
	</entry>
	
	<entry key="deleteMyItemsList">
		DELETE FROM TB_MYITEMS
		WHERE	PRO_NO = ?
	</entry>

</properties>