<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="listCount">
	
	    SELECT COUNT(*) COUNT
	    FROM TB_UNIONBOARD
	    WHERE STATUS = 'Y'
	
	
	</entry>
	
	
	
	<entry key="selectList">
	
	<!-- 조회할 데이터 : 게시판 번호 카테고리명 글제목 글내용  -->
	                     
		SELECT *
		FROM (SELECT ROWNUM RNUM,A.*
		      FROM (SELECT BOARD_NO,
		                   CATEGORY_NAME,
		                   BOARD_TITLE,
		                   USER_NAME,
		                   COUNT,
		                   BOARD_CONTENT,
		                   CREATE_DATE
		            FROM TB_UNIONBOARD TB
                    JOIN TB_CATEGORY USING(CATEGORY_NO)
                    JOIN TB_USERINFO ON(USER_NO=BOARD_WRITER)
		            WHERE TB.STATUS ='Y'
		            ORDER BY CREATE_DATE DESC) A)
		          WHERE RNUM BETWEEN ? AND ?
		          
		       

	</entry>
	
	
	
	


</properties>